<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Collection Management{% endblock %}</title>
</head>
<body>
    <h1>Collection Management</h1>
    
    <nav>
        <a href="{% url 'liste_collection' %}">Les collections</a>
        <a href="{% url 'create_collection' %}">Nouvelle collection</a>
        <a href="{% url 'about' %}">À propos</a>
    </nav>

    {% block content %}
    <!-- Chaque page ajoute son contenu ici -->
    {% endblock %}
</body>
</html>
