<!DOCTYPE html>
<html>
    <head>
        <title>Collection Management</title>
    </head>
    <body>
        <h1>A propos de ce site</h1>
        <p>Ce site est un projet universitaire pour les L3 informatique de la faculté de sciences et technique d'Orléans destiné à évaluer nos connaissances du framework web en python "DJANGO", ainsi que notre capacité à travailler en équipe, notamment l'aide d'outils tel que Docker ou Git, le tout sur un dépot distant.</p>
        <p>Voici les membres de l'équipe :</p>
        <ul>
            <li>Arthur Goudal</li>
            <li>Vincent Gonnet</li>
            <li>Koffi Hild Gomado</li>
            <li>Esteban Draily</li>
        </ul>
        <p>Sur ce Site vous trouverez différentes collections que vous pourrez consulter, modifier, ajouter ou supprimer.</p>
        <p>Enfin l'esthétique de ce site à été réalisé avec Bootstrap5.</p>
    </body>
</html>