{% extends "index.html" %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{% block title %}{{context.name}}{% endblock %}

{% block content %}
<h2>Êtes-vous sûr de vouloir supprimer la collection {{ context.name }} ?</h2>
<i>Cette action sera définitive.</i>
<form method="post">
    {% csrf_token %}
    {% bootstrap_button "Supprimer" button_type="submit" button_class="btn-danger" name="confirmation" value="delete" %}
    {% bootstrap_button "Annuler" button_type="submit" button_class="btn-secondary" name="confirmation" value="cancel" %}
</form>
{% endblock %}